<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.818292930832-lgn6pmsem0u686u7u7vfrppn5ois0dk1</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Waffl needs access to your camera to record videos for your weekly moments.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Waffl needs access to your microphone to record audio with your videos.</string>
</dict>
</plist>
